---
# See ../DEPENDENCIES.md#workaround-for-other-dependencies
name: Dependabot hack
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - never-trigger-this-dependabot-hack-workflow

jobs:

  dependabot_hack:
    name: Ensure dependabot version checks
    runs-on: ubuntu-20.04
    steps:
      # update the versions in the devcontainer Dockerfile manually, too
      - uses: hadolint/hadolint@v1.18.0
      - uses: rubocop-hq/rubocop@v0.89.1
      - uses: troessner/reek@reek:6.0.1
