---
name: reviewdog
on:  # yamllint disable-line rule:truthy
  push:

jobs:

  hadolint:
    name: hadolint
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v2.3.4
      - name: hadolint
        uses: reviewdog/action-hadolint@v1.15
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check

  yamllint:
    name: yamllint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: yamllint
        uses: reviewdog/action-yamllint@v1.6.1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check

  rubocop:
    name: rubocop
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: rubocop
        uses: reviewdog/action-rubocop@v2.3.1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
